<%= render 'layouts/error_messages', model: @user %>

<h1>User info</h1>
		<%= form_for(@user) do |form| %>

  <div class="field">
    <%= form.text_field :name %>
  </div>
  <div class="col-sm-12">
     <%= form.attachment_field :profile_image %>
  </div>

  <div class="field">
    <%= form.text_area :introduction %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>